.cardContainer{
    display: flex !important;
    justify-content: space-around;

    padding-top: 1%;
    padding-bottom: 1%;
    align-items: center;
    align-content: center;
}

.content{
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}